window, dialog, flash{
	padding:0px;
	margin:0px;
}


.red{
	color:red;
}

toolbar.nav-bar {
  background-image: url("chrome://navigator/skin/navbar-bg.gif");
  padding: 0px;
  padding-bottom: 2px;
}

box#navbar {
  background-color: lightblue;
}

A:link {
  color: #FA8072;
}
